@model IEnumerable<Person>
@{
    ViewData["Title"] = "ListPeople";
}

<h5>The list of people in DataBase</h5>

<br />
<a asp-action="AddPerson">Create</a>
<br />

@*Creating table to show people List*@
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>PhoneNumber</th>


        </tr>
    </thead>

    @*Fylling the people list table*@
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.PhoneNumber</td>

            <td><a asp-action="DeletePerson" asp-route-id=@item.Id>Delete</a></td>
        </tr>
        }

    </tbody>
</table>
